html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background: #fff;
}

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-sidenav{
  background: #D93230;
  color: #fff;  
  width:270px
}

.nav-header{
  text-align: center;
}

.nav-header h1{
  margin: 7px 0;
}

.nav-header md-icon{
  margin-top:10px;
  width: 180px;
  height: 180px;
}

.site-content-toolbar{
 padding-left: 20px;
 background: #f6f6f6 !important;
 color: #202020 !important;
 box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 
            0px 0px 2px 2px rgba(0, 0, 0, 0.098), 
            0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}


.wiki-result-container md-card{
 display: flex;
 width:75%;
 margin: 20px auto;
}

.wiki-result-container md-card img {
  max-width: 80px;
  max-height: 80px;
  margin: auto 10px;
}

md-dialog.fullscreen-dialog {
    max-width: 90%;
    max-height: 90%;
    width: 90%;
    height: 90%;
    border-radius: 0;
}

md-dialog.fullscreen-dialog iframe {
  width:100%;
  height:89%;
  position: absolute;
}

#search-form{
  line-height: 1.19;
  font-size: 32px;
  margin: 0;
  font-weight: 300;
}

#search-input{
  background: url('svg/search.svg') no-repeat;
  font-weight: 400;
  color:#fff;
  border-color:#fff;
  padding: 0 64px 5px 40px;
  height: 100%;
  background-size: 24px;
  background-position: 0 8px;
}
