<!DOCTYPE html>
<html lang="en">

<head>
  <title>Angular Material - Starter App</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="assets/app.css" />

  <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>

<body ng-app="app" layout="column" ng-controller="SearchController as vm" ng-cloak>
  <div flex layout>
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="nav-left" class="md-whiteframe-z2">
      <header class="nav-header">
        <md-icon md-svg-icon="logo"></md-icon>
        <h1 class="md-display-1">Wiki Search</h1>
      </header>
      <md-divider></md-divider>

      <md-list ng-click="vm.toggleNav()">
        <md-list-item ng-repeat="nav in vm.navTypes" ng-click="vm.navigateTo(nav)">
          <p>{{nav.title}}</p>
          <md-icon md-svg-icon="{{nav.type}}"></md-icon>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <div layout="column" flex>

      <md-toolbar layout="row" class="md-whiteframe-glow-z1 site-content-toolbar">
        <md-button class="menu md-primary" hide-gt-sm aria-label="Show menu items" ng-click="vm.toggleNav()">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1 class="md-headline">{{vm.selection.title}}</h1>
      </md-toolbar>

      <md-content ng-if="vm.selection.type === 'search'">
        <md-toolbar class="md-tall md-primary" layout layout-align="center center">
          <form ng-submit="vm.searchWiki()" flex="90" flex-gt-sm="50" id="search-form">
            <md-input-container class="md-block">
              <label></label>
              <input ng-model="vm.searchTerm" id="search-input" autocomplete="off" type="text" md-autofocus>
            </md-input-container>
          </form>
        </md-toolbar>

        <div class="wiki-result-container">
          <md-card ng-repeat="item in vm.wikiResult">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{item.title}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content layout-sm="column" layout-gt-sm="row">
              <div flex="90">
                <p>
                  {{item.desc}}
                </p>
              </div>
              <div class="md-media-sm card-media">
                <img ng-src="{{item.thumbnail}}" alt="{{item.title}}">
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" aria-label="open in modal window" ng-click="vm.showArticle(item)">
                <md-icon md-svg-icon="copy"></md-icon>
              </md-button>

              <a ng-href="{{item.url}}" target="_blank" class="md-icon-button">
                <md-icon md-svg-icon="share"></md-icon>
              </a>

            </md-card-actions>
          </md-card>
        </div>
      </md-content>

      <md-content ng-if="vm.selection.type === 'random'" flex>
        <iframe src="https://en.wikipedia.org/wiki/Special:Random" frameborder="0" width="100%" height="100%" style="position:absolute;"></iframe>
      </md-content>
    </div>
  </div>

  <!-- Vendor scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.5/angular-sanitize.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>


  <script src="./app/search/search.module.js"></script>
  <script src="./app/search/search.controller.js"></script>
  <script src="./app/search/search.service.js"></script>

  <script src="./app/app.module.js"></script>
  <script src="./app/app.config.js"></script>
</body>

</html>